@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "../../assets/sass/mixins";

.content {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;

  @include medium-screen {
    flex-direction: row;
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
      letter-spacing: -2.5px;
      color: #1c307f;
      margin-bottom: 3.75rem;
      font-size: 2rem;

      @include medium-screen {
        font-size: 52px;
      }
    }

    .svg {
      display: none;
      
      @include medium-screen {
        display: block;
      }
    }
  }
}

.content > * {
  flex: 1;
}


.formContent{
  display: flex;
  justify-content: start;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputCol {
    display: flex;
    flex-direction: column;
  
    label {
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #575453;
    }
  
    input {
      width: 235px;
      border: none;
      border-bottom: 2px solid #dad2d0;
      font-family: "Nunito";
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      padding: 0.5rem 0.8rem;
      margin-bottom: 2.5rem;
      outline: none;
  
      &::placeholder {
        color: #999392;
        font-style: italic;
      }
    }
  }
  
  .buttonBox {
    margin: 2rem 0;
  }
}