@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@300;400;700&display=swap');
@import "../../assets/sass/mixins";

.container {
  padding: 1rem;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #1c307f;
  margin: 0 0 40px 0;
}

.main {
  display: flex;
  justify-content: center;

  .no-data{
    @extend .info;
    background: url("../../assets/images/illustration-plant.svg") no-repeat
      bottom left,
    url("../../assets/images/illustration-certificates.svg") no-repeat top
      right;
  }

  .info {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    width: 510px;

    h2 {
  
  
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #575453;
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 2rem;

      .details {
        font-weight: 400;
        line-height: 20px;

        .name {
          font-size: 16px;
          color: #575453;
          margin: 0;
        }
        
        .date {
          font-size: 12px;
          color: #575453;
          margin: 0;
        }
      }
    }

    .span {
      margin: auto;
      width: 50%;
      padding: 10px;
  
  
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #999392;
    }
  }
}

.footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
