.btn{
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 1rem;
    line-height: 0;
    
    &.default{
        background: #2E50D4;
        color: #fff;
    }

    &.outline{
        color: #2E50D4;
        background-color: #fff;
        border: 2px solid #2E50D4;
    }
}

.mr-1{
    margin-right: 1rem;
}

.ml-1{
    margin-left: 1rem;
}