@import 'variables';

// small-screen
//
// Abstração de media-query para regras que irão valer a partir do "layout tablet"
//
// Styleguide: 1-tools.mixins.small-screen
@mixin small-screen {
	@media (min-width: $screen-sm-min) {
		@content;
	}
}

// medium-screen
//
// Abstração de media-query para regras que irão valer a partir do "layout desktop" (1024)
//
// Styleguide: 1-tools.mixins.medium-screen
@mixin medium-screen {
	@media (min-width: $screen-md-min) {
		@content;
	}
}

// medium-screen-only
//
// Abstração de media-query para regras que irão valer para "layouts desktop" de 992 até 1200.
// Regra que seria apenas para algumas exceções, visto que o percentual utilizado desta resolução atualmente é baixa
//
// Styleguide: 1-tools.mixins.medium-screen-only
@mixin medium-screen-only {
	@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
		@content;
	}
}

// large-screen
//
// Abstração de media-query para regras que irão valer a partir do "layout desktop large" (1200)
//
// Styleguide: 1-tools.mixins.large-screen
@mixin large-screen {
	@media (min-width: $screen-lg-min) {
		@content;
	}
}

// mobile-only
//
// Abstração de media-query para regras que irão valer somente para telas menores que o tablet (ou todas mobile)
//
// Styleguide: 1-tools.mixins.mobile-only
@mixin mobile-only {
	@media (max-width: $screen-xs-max) {
		@content;
	}
}

// mobile-landscape
//
// Abstração de media-query para regras que irão valer somente para telas em modo mobile e landscape
//
// Styleguide: 1-tools.mixins.mobile-landscape
@mixin mobile-landscape {
	@media (max-width: $screen-xs-max) and (orientation: landscape) {
		@content;
	}
}

// tablet-only
//
// Abstração de media-query para regras que irão valer somente para telas menores que o desktop e maiores que o mobile
//
// Styleguide: 1-tools.mixins.tablet-only
@mixin tablet-only {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		@content;
	}
}

// all-except-desktop
//
// Abstração de media-query para regras que irão valer para todas as resoluções, menos as desktop (a partir de 1024px)
//
// Styleguide: 1-tools.mixins.all-except-desktop
@mixin all-except-desktop {
	@media (max-width: $screen-sm-max) {
		@content;
	}
}

// all-except-desktop-wide
//
// Abstração de media-query para regras que irão valer para todas as resoluções, menos as desktop wide (a partir de 1999px)
//
// Styleguide: 1-tools.mixins.all-except-desktop-wide
@mixin all-except-desktop-wide {
	/* #{$screen-md-max} */
	@media (max-width: $screen-md-max) {
		@content;
	}
}
