@import "../../assets/sass/mixins";

.header{
    padding: 1rem;
    height: 57px;
    background: #FFFFFB;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
        display: none;
    }

    @include medium-screen {

        span{
            display: inline-block;
        }
    }
}